body {
  background-color: #999999;
}
#wrapper {
  margin: 24px auto;
  height: 800px;
  width: 1200px;
  border: 1px solid black;
  padding: 12px;
  padding-right: 20px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(5);
  grid-column-gap: 24px;
}
header {
  width: auto;
  color: #000000;
  background-image: linear-gradient(to top, #000000, #000000, #000000, #000000, #000000);
  margin: -8px;
  font-family: 'Roboto Condensed', sans-serif;
}
h1 {
  color: #FFFFFF;
  text-align: center;
}
li {
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
}
nav {
  grid-column: span 8;
  width: 1150px;
  height: 80px;
  list-style-type: none;
  text-align: center;
}
nav li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 120px;
  border-radius: 18px;
}
nav li a:hover {
  background-color: #4E5657;
  border-radius: 18px;
}
.roundedbox {
  border: 2px solid black;
  background-color: #99A3A4;
  border-radius: 18px;
  grid-column: span 6;
  text-align: center;
}
footer {
  font-family: 'Roboto Condensed', sans-serif;
}
.makethefontbig {
  font-size: 20px;
  text-align: center;
}
.fade-in-image1 {
  opacity: 0%;
  transition:opacity 1.5s
}
.fade-in-image1:hover {
  opacity:100%;
  transition:opacity .7s
}
.fade-in-image2 {
  opacity: 0%;
  transition:opacity 1.5s
}
.fade-in-image2:hover {
  opacity:100%;
  transition:opacity .7s
}
.fade-in-image3 {
  opacity: 0%;
  transition:opacity 1.5s
}
.fade-in-image3:hover {
  opacity:100%;
  transition:opacity .7s
}
