body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 24px;
}

header {
  grid-column: span 6;
  background-image: linear-gradient(to top, #000000, #000000, #000000, #000000, #000000);
  margin: -8px;
  font-style: italic;
  font-family: sans-serif;
}

h1 {
  color: #FFFFFF;
}

li {
  list-style-type: none;
}

nav {
  grid-column: span 4;
  width: 400px;
  height: 80px;
  list-style-type: none;
  text-align: center;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
  background-image: linear-gradient(to right bottom, #000000, #000000, #000000, #000000, #000000);
  font-size: 100px;
}

nav li a:hover {
background-color: blue;
}


.mainimg {
  grid-column: span 2;
}

.roundedbox {
  padding: 10px;
  border: 2px solid blue;
  background-color: #99A3A4;
  border-radius: 18px;
  text-align: center;
}

.dropshadowbox {
  padding: 10px;
  border: 3px solid red;
  background-color: #ccc;
  box-shadow: -24px -10px 0px red;
}
