body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 24px;
}

header {
  grid-column: span 6;
  background-image: linear-gradient(to top, #000000, #000000, #000000, #000000, #000000);
  margin: -8px;
  font-style: italic;
  font-family: sans-serif;
}

h1 {
  color: #FFFFFF;
  margin-left: 410px;
}

li {
  list-style-type: none;
}

nav {
  grid-column: span 4;
  padding: 15px;
  width: 228px;
  height: 30px;
  list-style-type: none;
  text-align: center;
}

nav li a {
  width: 228px;
  height: 30px;
  color: #ffffff;
  display: block;
  border: 1px solid #000000;
  padding: 62px;
  text-decoration: none;
  background-image: linear-gradient(to right bottom, #000000, #000000, #000000, #000000, #000000);
  font-size: 50px;
}

.mainimg {
  grid-column: span 2;
}
